.banner {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20%, 1fr));
    gap: 8px;
    padding: 1rem 4rem;
   margin-bottom: 4rem;

  }
  
  
  .hero-icon {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  
  
  @media (max-width:1224px) {
    .banner {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(45%, 1fr));
        gap: 8px;
        padding: 1rem 2rem;
        z-index: 999;
      }
  }

  @media (max-width:728px) {
    .banner {
        display: grid;
        grid-template-columns: 1fr;
        gap: 8px;
        padding: 1rem 1rem;
        z-index: 999;
      }
  }
