.profile{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding:15rem 4rem;
   
}

.profile-left{
    display: flex;
    flex-direction: column;
    min-height: 73vh;
    background-color: #F1F1F1;
    width: 280px;
    /* align-items: center; */
    border: 0.05rem solid #D3CECE;
    border-radius: 0.5rem;
}

.profile-left-1{
    width:100%;
    background-color: #FFFFFF;
    height:35vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    justify-content: space-between;

}

.profile-left-2{
    width:100%;
    height:30vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap:0.5rem;
    padding: 0.5rem;

}


.profile-right{
    min-width:50vw;
    background-color: #FFFFFF;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    
    

}

.fav-profile-right{
    min-width:70vw;
    background-color: #FFFFFF;
    min-height: 20vh;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    
    

}

.container {
    display: flex;
    flex-direction: column; /* Change to column for vertical alignment */
    align-items: center;
    justify-content: center;
    height: 100vh; /* Full height of the viewport */
    margin: 14rem 1rem;
}

.main {
    width: 100%; /* Adjust as needed */
    max-width: 500px; /* Optional: Set a max-width for the form */
    padding: 2rem; /* Optional: Add padding around the form */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional: Add a shadow for better visual */
    border-radius: 1rem; /* Optional: Match the fieldset border radius */
    display: flex;
    flex-direction: column;
    gap: 2rem;
  
}

.profile-input {
    width: 250px;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: none;
    outline: none;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
    background-color: white;
    color: #000000;
}

fieldset {
    border-radius: 0.5rem;
    padding: 0.2rem;
    border-color: #E9ECF0;
  
}

legend {
    padding: 0 0.5rem; /* Add padding to the legend for better visual */
    font-size: 0.8rem; /* Adjust the font size as needed */
   }


.profile-right-div{
    display:flex;
    flex-direction:row; 
    gap:0.5rem; 
    padding:1rem
}

.fav-prices{
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

@media (max-width:1024px){
   
    .profile{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding:1rem;
       
    }
    .profile-left, .profile-right{
        width:93vw
    }
    .profile-right-div{
        flex-direction:column; 
        gap:1rem
    }

   

}

@media (max-width:768px) {
    .fav-prices{
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }
}


