:root {
  --background: #ffffff;
  --foreground: #171717;
}



@font-face {
  font-family: 'Hydot';
  src: url('/font/Montserrat/static/Montserrat-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Hydot-Bold';
  src: url('/font/Montserrat/static/Montserrat-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Hydot-SemiBold';
  src: url('/font/Montserrat/static/Montserrat-SemiBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}





@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: black;
  background: #F5F0F0;
  font-family: "Hydot", Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 0.9rem;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.smallTitle{
  font-family: "Hydot-SemiBold";
  font-size: 1.1rem;
  padding-left: 2rem;
}

.bigTitle{
  font-family: "Hydot";
  font-size: 2.8rem;
  padding-left: 2rem;
}

.sortController{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
}


@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

@media (max-width:760px) {
  .smallTitle{
    padding-left: 1rem;
  }

  .bigTitle{
    font-size: 1.8rem;
    padding-left: 1rem;
  }

  .sortController{
    flex-direction: column;
  }
}

html.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
}

html.light {
  --background: #ffffff;
  --foreground: #171717;
}






