.footer-banner1 {
    display: flex;
    flex-direction: row;
    /* grid-template-columns: repeat(auto-fill, minmax(15%, 1fr)); */
    gap: 2rem;
   align-items: center;
   justify-content: space-evenly;
   padding: 2rem 3rem;
   background-color: #ffffff;
   

  }

  @media (max-width:1024px) {
    .footer-banner1 {
      flex-direction: row;
      overflow-y: auto;
    }


  }
  
  
  
  
  
  
  @media (max-width:1024px) {
    .footer-banner {
        overflow-y: auto;
      }
  }

  @media (max-width:728px) {
    .footer-banner {
        display: grid;
        grid-template-columns: 1fr;
        gap: 8px;
        padding: 1rem 1rem;
        z-index: 999;
      }
  }
